/* .grid div {
    background-color: #00ccff;
} */
.grid {
    display: grid;
    /* grid-template-columns: 30% 50% 20%; */
    /* grid-template-columns: 200px 500px 300px; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 200px 200px;
    gap: 30px;
}
.element1, .element5, .element6{
    background-color: red;
}
.element2{
    background-color: blueviolet;
    grid-column: 2/4;
}
.element3{
    background-color: blueviolet;
    grid-column: 1/3;
}
.element4{
    background-color: blue;
    grid-row: 2/4;
    grid-column: 3/4;
}